.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);

    width: 300px;
    padding: 30px;
    gap: 15px;
}

.navigateBtn {
    align-self: flex-end;
}