.header {
    background-color: white;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding: 5px 10px 0 10px;
}

.username {
    font-weight: 100;
}

.language {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
    font-weight: 100;
    font-size: 12px;
}