.statistic {
    display: flex;
    flex-direction: column;
}

.statistic > ul {
    list-style-type: none;
    padding: 0;
}

.statistic > ul > li {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.statistic > ul > li > span {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    font-weight: 400;
}