.icon {
    color: white;
    margin-left: 10px;
    margin-right: 20px;
}

.languageIcon {
    color: white;
}

.logo {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    padding: 5px;
    background-color: var(--primary-color);
    align-items: center;
    box-shadow: 0 5px 3px var(--shadow-color);
}

.language {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.language > p {
    font-family: 'Roboto', sans-serif;
}

.buttons {
    display: flex;
    margin-left: auto;
    gap: 20px;
}