.icon {
    color: white;
    margin-left: 10px;
    margin-right: 20px;
}

.languageIcon {
    color: white;
}

.logo {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    display: flex;
    padding: 5px;
    background-color: var(--primary-color);
    align-items: center;
}

.language {
    display: flex;
    margin-right: 10px;
}