.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    text-align: center;
}

.icon {
    color: black;
}