.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
}

.header > span {
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-color);
    font-weight: 600;
}